<%- include("partials/header.ejs") %>

<h1>About Living Water Daily</h1>
<img class="profile" src="images/living_water_daily.jpg" alt="cat profile">
<p>
  Living Water Daily is a simple yet powerful way to connect with God’s Word right when you need it.
The app offers a set of buttons, each representing a feeling—such as joy, peace, strength, comfort, or hope. When you click on one, the app will display a random verse from the New King James Version (NKJV) that matches your chosen feeling.

Every verse is like a drop of living water—refreshing, encouraging, and guiding you through life’s moments. Each visit is unique, ensuring you receive a message perfectly timed for your heart.</p>



  <%- include("partials/footer.ejs") %>